<h3>Contact address</h3>
<div>
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="text" aformControlName="street">
    </label>
  
    <label>
      City:
      <input type="text" aformControlName="city">
    </label>
    
    <label>
      State:
      <input type="text" aformControlName="state">
    </label>
  
    <label>
      Zip Code:
      <input type="text" aformControlName="zip">
    </label>
<p></p>
    <button (click)="onContactLookup()">Show Contact lookup dialog</button>
  </div>
  <label>
    Zone:
    <input type="text" aformControlName="zone">
  </label>
